.home-header {
    margin-top: -15px;
    padding-top: 0;
  }
  
  .navbar {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .home-container {
    text-align: center;
    padding: 20px;
    margin-top: 0; /* Set this to 0 to remove the space */
  }
  
  .home-container h2 {
    font-size: 32px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .card p {
    font-size: 16px;
    color: #555;
  }
  
  html body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
  .background {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
  }